@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(240, 231, 219, 0.1);
  --foreground: #181818;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  :focus-visible {
    @apply outline-jade-900;
  }
  input[type="text"]:focus,
  textarea:focus,
  button:focus-visible {
    @apply border-jade-900 ring-jade-900;
  }
  [type="checkbox"] {
    @apply h-6 w-6 rounded-full border-stone-300 text-jade-900;
  }
  [type="checkbox"]:focus {
    @apply ring-0;
  }
  p:focus-visible {
    outline: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
