@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgba(255, 255, 255, 0.92);
  --background: #1b1b1b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(240, 231, 219, 0.1);
    --foreground: #181818;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
